  /*HOME PAGE AND NAV*/
body {
  background-color: #222222;
}
img {
  width: 200px;
  height: 80px;
}
h1 {
  font-family: serif;
}
h2 {
  color: #337AB7;
}
.list-group {
  text-align: center;
  font-weight: bold;
}
.jumbotron p {
  font-size: 15px;
  font-weight: bold;
  color: black;
}
.jumbotron {
  padding-top: 10px;
  padding-bottom: 10px;
}
.home {
  background-image: url(/images/bean.png);
}
 /*Products styles*/
.row-products p {
  color: #C7C7C7;
}
 /*Manufacturers sidebar*/

a.list-group-item:visited {
  background-color: #01D561;
}
a.list-group-item {
  color: black;
  border-radius: 6px;
}
a.list-group-item:hover {
  background-color: #337AB7;
  color: white; 
}
.butt{
  background-color: #01D561;
}
.butt:hover {
  background-color: #337AB7;
  color: white;
}
.manu {
  font-size: 20px;
  color: #c7c7c7;
}
 /*Navbar styles*/
ul {
  font-size: 20px;
  padding-top: 18px;
}
ul.nav a:hover {
  background-color: white;
  color: black;
  border-radius: 6px;
}
ul.nav a:visited {
  background-color: #337AB7;
}
ul.nav a {
  color: #C7C7C7;
  border-radius: 6px;
 
}
.navbar {
  background-color: black;
  border-bottom-color: #01D561;
  border-width: 2px;
}
.navbar-toggle {
  margin-top: 20px;
  float: right;
}
.button {
    background-color: #337AB7;
}
.icon-bar {
   background-color: #C7C7C7;
}


/*Manufacturers icon*/
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
 /*ABOUT HOME PAGE*/







