

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <manu-button></manu-button>
          <div class="jumbotron home">
            <h1 class="rmis">RMIS</h1>
            <p>Rocky Mountain Integrated Solutions, Inc is a manufactures' representative serving the HVAC, Plumbing, Radiant Heat, and Solar Thermal markets. We strive to exceed our principles expectations by building long term relationships with our customers. Our warehouse has a state-of-the-art live training facility for our manufactures products. We offer product training at our location including HVAC Training, plumbing certifications catered to both mechanical contractors and wholesaler personnel.</p>
          </div>
          <div class="row-products">
            <div class="col-xs-6 col-lg-4">
              <h2>HVAC</h2>
              <p>RMIS is one of the largest reps of Heating, Ventilation and Air Conditioning products in the Intermountain West. We keep our 22,000 square foot warehouse fully stocked with inventory and have a fully trained technical staff and commercial sales department so you can expect prompt quotes for all your HVAC needs. Our HVAC sales team is highly trained so they can assist your business in the quickest manner. </p>
              <p><a class="btn btn-default" href="#" role="button">View details</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Solar</h2>
              <p>RMIS is one of the only wholesale distributors of Solar Water Products in the Intermountain West. These are for both Residential and commercial appliances. Our solar products offers several state and federal tax rebates and, they are a great and effective way to heat your home that will pay for its self in the future. </p>
              <p><a class="btn btn-default" href="#" role="button">View details</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2>Radiant Heating</h2>
              <p>Radiant Heating offers low operating cost, overall efficiency increases of up to 50%, decorating freedom because the tubing is invisible unlike conventional HVAC products. Radiant Heating also offers flexibility in adapting to either new construction or remodels. Radiant Heating is quiet and is healthy because the system operates at low temperatures and is not as dry as with warm-air heating. Radiant Heating also offers Temperate Controls so you can control the heat in every room if you wish.</p>
              <p><a class="btn btn-default" href="#" role="button">View details</a></p>
            </div><!--/.col-xs-6.col-lg-4-->
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group"><span class='manu'>Manufacturers</span>
            <a href="http://www.aicheatexchangers.com/" target="_blank" class="list-group-item">AIC </a>
            <a href="http://www.boilerbuddy.com/" target="_blank" class="list-group-item">Boiler Buddy</a>
            <a href="http://www.cimberiovalve.com/" target="_blank" class="list-group-item">Cimberio</a>
            <a href="http://www.firstco.com/" target="_blank" class="list-group-item">First Co.</a>
            <a href="http://www.modinehvac.com/" target="_blank" class="list-group-item">Modine</a>
            <a href="http://www.gtpcompany.com/" target="_blank" class="list-group-item">General Treatment Products</a>
            <a href="http://www.luxproproducts.com/" target="_blank" class="list-group-item">Lux</a>
            <a href="http://www.mrpexsystems.com/" target="_blank" class="list-group-item">Mr PEX</a>
            <a href="http://www.thebarrier.com/" target="_blank" class="list-group-item">NOFP</a>
            <a href="http://www.phpinc.us/" target="_blank" class="list-group-item">Precision Hydronics</a>
            <a href="http://www.summeraire.com/" target="_blank" class="list-group-item">Summeraire</a>
            <a href="http://www.thermolec.com/en/" target="_blank" class="list-group-item">Thermolec</a>
            <a href="http://www.tundrafoam.com/" target="_blank" class="list-group-item">Tundra</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; RMISHVAC 2015</p>
      </footer>

      