<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/rocky4.png" alt="">
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#/" class="nav-toggle">Home</a></li>
        <li><a href="/#/about" class="nav-toggle">About</a></li>
        <li><a href="/#/products" class="nav-toggle">Products</a></li>
        <li><a href="/#/manufactures" class="nav-toggle">Manufactures</a></li>
      </ul>
    </div>
  </div>
</nav>